.edit-message-modal{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

.edit-message-modal.modal-show{
    display: flex;
}

.edit-message-container{
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    width: 600px;
}

.edit-message-input{
    display: block;
    margin-bottom: 15px;
}

.edit-message-group{
    display: flex;
    justify-content: space-between;
}