header{
    padding: var(--mb1) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header-title{
    font-size: 32px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 1);
    margin-right: var(--mb2);
}

.header-users-count{
    margin-right: var(--mb1);
}

.header-chat-info{
    display: flex;
}

.badge{
    margin-right: var(--mb0);
}